/*****************
General Formatting
******************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

article,
aside {
    padding: .5rem;
}

#extracredit {
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}


/**************
Your Formatting
/* D E S K T O P */

/* wrapper */
#mygrid{
    /* background-color: blueviolet; */

    margin:0 auto;
    display:grid;
    width: 100vw;
    max-width:1000px;
    min-height: 100vh;

    grid-template-rows: 75px 30px 1fr 1fr 50px;
    grid-template-columns: 1fr 2fr;
    /* naming the rows / columns */
    grid-template-areas:
    "a a"
    "b b"
    "c d"
    "e d"
    "f f";
}
header{
    background-color: lightpink;
    grid-area: a;

    display:flex;
    justify-content: center;
    
    }
    
    nav{
    
    grid-area: b;
    background-color: lavenderblush;

    display:flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    
    }

    .top{
        width: 6rem;
        background-color: #ccc;
        margin:0px;
    }

    .list{
        list-style-type: none;
        background-color: #ddd;
        margin: 0px;
        padding: 0px;
        display: none;
        /* KEEPS MENU FROM GETING PUSHED!!!  */
        position: absolute;
        /* make it above other content */
        z-index: 2;
        width: 6rem;
        
    }

    .list li{
        padding:.25rem;
        background-color: #ddd;
    }


    
    article{
        grid-area: d;
   background-color: lightcyan;
  
    }
    
    /*  */ take up max space
    aside{
    
        grid-area: c;
       background-color: lightblue;
       flex-grow: 1;
    }
    
    footer{
        grid-area: f;
        background-color: lightpink;
        height:30px;

        display:flex;
        justify-content: center;
        
    }

    #extracredit{
        grid-area: e;
    }


/* M O B I L E */
@media only screen and (max-width: 600px){
#mygrid{
    background-color: bisque;
   grid-template-rows: 75px 30px auto auto auto 30px ;
   /* one column using all available space */
   grid-template-columns: 1fr;
   /* naming the rows */
   grid-template-areas: 
   "a"
   "b"
   "c"
   "d"
   "e"
   "f"
   ;
   width: 100vw;
}

header{

grid-area: a;
}

nav{
grid-area: b;
}

article{
grid-area: c;
}

aside{
    grid-area: d;
}

#extracredit{
    grid-area: e;
}

footer{
grid-area: f;
}

}