/* css page */

body{

    /* Photo by Joanna Kosinska on Unsplash */
background-image:url(imgs/bkgd_ylw.png);

}


div.logo img{
display: block;
box-sizing: border-box;
max-width: 120px;
margin-left: auto;
margin-right: auto;


}

div.over{

    box-sizing: border-box;
    
    color: #eeaf03;
    font-size: 5vw;
    font-family: Helvetica;
    text-align: center;
    z-index: 2;
    /* margin-left: 540px;  DID NOT WORK RELATIVE TO VIEWPORT SIZE */
    margin-left: 38vw;  /* vw = viewport width. makes text position relative */
    position:absolute;
    

}


div.under{
    box-sizing: border-box;
    color:#101010;
    font-size: 5vw;
    font-family: Helvetica;
    text-align: center;
    z-index: 1;
    
     position:absolute;
     /* margin-left: 530px; DID NOT WORK RELATIVE TO VIEWPORT SIZE*/
     margin-left: 37vw;  /* vw = viewport width. makes text position relative */
     margin-top:-5px;
    

    
    }

    p.name{
        font-family: Helvetica;
        /* font-size: 25px; */
        font-size: 2em;
        color:#101010;
        text-align: center;
        /* margin-top:270px; */
        margin-top:34vh;
       
        font-weight: 600;
     
        
    }

    button{

    display: block;
    margin:auto auto;
    /* background-color: #eeaf03; */
    background-color:transparent;
    color: #fdf2d3;
    border-color: #fdf2d3;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    font-family: Helvetica;
    font-weight: 100;
    -webkit-transition-duration: 0.3s;
 

    

    }

    button:hover{

    
        background-color: #101010;
        border: none;
        font-weight: 400;
       
        
        
    }