/* css page */

body{

    /* Photo by Joanna Kosinska on Unsplash */
background-image:url(imgs/bkgd_ylw.png);

}

div.logo{
    /* background-color: aqua; */
    /* margin-top:20px; */
}


div.logo img{
display: block;
max-width: 8%;
margin-left: auto;
margin-right: auto;

}

div.over{
    
    color: #eeaf03;
    font-size: 80px;
    font-family: Helvetica;
    text-align: center;
    z-index: 2;
    margin-left: 540px;
   
    position:absolute;
    

}


div.under{
    color:#101010;
    font-size: 80px;
    font-family: Helvetica;
    text-align: center;
    z-index: 1;
    
     position:absolute;
     margin-left: 530px;
     margin-top:-5px;
    

    
    }

    p.name{
        font-family: Helvetica;
        font-size: 25px;
        color:#101010;
        text-align: center;
        margin-top:270px;
        font-weight: 600;
     
        
    }

    button{

    display: block;
    margin:0px;
    background-color: #eeaf03;
    color: #fdf2d3;
    border-color: #fdf2d3;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    font-family: Helvetica;
    font-weight: 100;
    -webkit-transition-duration: 0.3s;
 

    

    }

    button:hover{

    
        background-color: #101010;
        border: none;
        font-weight: 400;
       
        
        
    }