/* CSS */


/* ---------- N A V I G A T I O N  B A R  ---------- */


/* flex container for nav itmes  */
#navigation {

/* make children flex items  */
display: flex;
/* make column  */
flex-direction: column;
flex-wrap: nowrap;
/* restrain the container to viewport w & h */
height: 75vh;
width: 110px;
/* give room on top */
margin-top:0px;
/* align to left side of container */
align-items: stretch;
/* space items evenly  */
justify-content: space-evenly;
/* keep nav position in place while scrolling */
position: fixed;
padding: 0 20px 20px 20px;
/* stylize with dropshadow */
background-color: #ffffff;
box-shadow: 10px 15px 30px #d4d4d4;

}

/* all nav items */ 
a,
.pageLink,
.workPage {
    /* stylize text */
    text-decoration: none;
    color: #2a2a2a;
    font-size: 16px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
}

/* interaction with links */
a:hover, a:active{
    font-weight: 600;
}


/* indent and shrink art-specific pages */
#indent{
    font-size: .9rem;
    color: #FFCC00;
}

/* center logo */
.logo{
align-self: center;
width: 50%

}

/* ---------- N A V I G A T I O N   B U R G E R ----------  */
    /* CODE SOURCE: https://www.w3schools.com/howto/howto_css_menu_icon.asp*/
#burgerBox {
    display: none;
    /* change cursor when it hovers */
    cursor: pointer;
    padding: 5px;
    /* background-color: #ffffff; */
} 

nav{
    background-color: #ffffff;
}

.link{
    /* background-color: #ffffff; */
}
.line1, .line2, .line3 {
    /* length */
    width: 34px;
    /* thickness */
    height: 4px;
    /* make ends round */
    border-radius: 60px;
    background-color: #FFCC00;
    /* space between*/
    margin: 6px 10px;
    /* delay appearing on page load */
    transition: 0.4s;
}
    /* rotate line 1 */
    .change .line1 {
         -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
         transform: rotate(-45deg) translate(-9px, 6px) ;
     } 
    
     /* Fade out line 2 */
     .change .line2 {
         opacity: 0;
     }
    
     /* Rotate line 3 */
     .change .line3 {
         -webkit-transform: rotate(45deg) translate(9px, -6px) ;
         transform: rotate(45deg) translate(-9px, -6px) ;
     }


                        /* -------------------- about me page -------------------- */

/* ---------- I M A G E   C H A N G E R ---------- */

.pictureContainer {
    /* background-color: brown; */
    display: flex;
    /* centers image */
    justify-content:center;
    /* fill to size of container */
    width: 100vw;  
}

#peeky{
    width: 400px;
    align-self: center;
}

/* ----- B I O ----- */

#bio{
    /* for clarity */
    /* background-color: chocolate; */
    /* make text responsive */
    max-width: 600px;
    /* styling */
    padding: 20px;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family:'Raleway', sans-serif;
    line-height: 2rem;
    text-align: left;
}

/* Hello, I'm Jackie */
p.hello::first-line{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
}


footer{
    /* background-color: coral; */
    text-align: center;
    padding: 5px 5px 5px 0px;
    margin: 130px auto 0 auto;
    font-family:'Raleway', sans-serif;
}

                        /* -------------------- Contact page -------------------- */

#phonemail{
    width: 400px;
    align-self: center;
}

                        /* -------------------- Doodle page -------------------- */

#doodleContainer{
    /* background-color: aquamarine; */
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .5rem;
    width: 80vw;
    max-width: 1000px;
    margin: 0px auto;
    margin-left: 115px;
}

.doodle{
    background-color: lightpink;
    display: block;
    width: 80%;
}

                        /* -------------------- 3D Model page -------------------- */

#modelContainer{
    /* background-color: aquamarine; */
    display: grid;
    margin: 0 auto;
    margin-left: 160px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    }

    .model{
        background-color: lightpink;
        width:100%;
    }

                         /* -------------------- Poster page -------------------- */

#posterContainer{
    /* background-color: aquamarine; */
    display: grid;
    margin: 0 auto;
    margin-left: 160px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    max-width: 1200px;
    }

    .poster{
        background-color: lightpink;
        width:100%;
    }

                         /* -------------------- Resume page -------------------- */

    #resumeContainer{
        width: 60vw;
        max-width: 1000px;
        margin: 0 auto;
        margin-left: 190px;
        margin-top: 50px;
    }
    
    .resume{
        width: 100%;
    }

                             /* -------------------- Work page -------------------- */
    
    /* flex the container */
    #workContainer{
        max-width: 1200px;
        width: 85vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        margin-left: 140px;
        margin-top:80px;
    }

     /* the art page card  */
     #artPage{
        display: flex;
        flex-direction: column;
    }

    /* the image */
    .pagecover{
       width: 100%;
    }

    .pagecover:hover{
        box-shadow: 10px 15px 30px #d4d4d4;
    }

    .title{
        align-self: center;
    }



    /* ------------- page descriptions & headers ------------- */

    .selected {
        font-weight: 800;
        color:#ff5a6d;
    }

    /* change all work headers */
    h1{
        font-family: 'Dancing Script', cursive; 
        line-height: 2.5rem;
    }

    p{
        font-family:'Raleway', sans-serif;
    }

    #pageDetails{
        font-family:'Raleway', sans-serif;
        display: flex;
        flex-flow: column wrap;
        margin: 0 auto;
        width:60vw;
        max-width: 700px;
        line-height: 1.5rem;
    }
    
            /* ------------------------------ Media Query ------------------------------ */

/* ----- T A B L E T ----- */
@media only screen and (max-width: 1000px){

#navigation{

    margin: 0px;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    align-content: center;
    padding: 0px;
    width:100vw;
    height:6vh;
    position:relative;
   /* visibility: hidden; */
}

.logo{
    width:50px;
    visibility: visible;
    margin:0px;
    padding:0px;
    justify-self: flex-start;
}

/* ----- model page ----- */
#modelContainer{
    /* background-color: aquamarine; */
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    }
   
/* ----- poster page ----- */
#posterContainer{
    /* background-color: aquamarine; */
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    max-width: 1200px;
    }

/* ----- doodle page ----- */      
#doodleContainer{
    /* background-color: aquamarine; */
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .5rem;
    width: 80vw;
    max-width: 1000px;
    margin: 0px auto;
}

/* ----- resume page ----- */
#resumeContainer{
    width: 90vw;
    margin: 0 auto;
    margin-top: 50px;
}

.resume{
    width: 100%;
}

/* ----- resume page ----- */
#workContainer{
    max-width: 1200px;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 0 auto;
    margin-top:70px;
}

}


/* ----- M O B I L E ----- */
@media only screen and (max-width: 580px){

#navigation{
    visibility: hidden;
}

.logo{
    width: 80px;
    position: absolute;
    margin-top:20px;
}

#peeky{
    margin-top:50px;
    width: 100vw;
}

#burgerBox {
    display: block;
    /* change cursor on hover */
    cursor: pointer;
    position: fixed;
    background-color: #ffffff;
} 

nav{
    display: none;
    /* background-color: blueviolet; */
    flex-direction: column;
    /* justify-content: space-between; */
}

.link{
    padding:25px
    
}

/* ----- 3D Model page -----  */
#modelContainer{
    /* background-color: aquamarine; */
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    max-width: 90vw;
    }

/* ----- poster page -----  */
#posterContainer{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    max-width: 90vw;
    }

/* ----- doodle page ----- */      
#doodleContainer{
    /* background-color: aquamarine; */
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
    width: 80vw;
    max-width: 1000px;
    margin: 0px auto;
}

    #pageDetails{
        width: 80vw;
    }

/* ----- work page ----- */
#workContainer{
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin: 0 auto;
    margin-top:50px;
}

}
