/* CSS */

/* ---------- N A V I G A T I O N  ---------- */


/* flex container for nav itmes  */
#navigation {

/* make children flex items  */
display: flex;
/* make column  */
flex-direction: column;
flex-wrap: nowrap;
/* restrain the container to viewport w & h */
height: 75vh;
width: 110px;
/* give room on top */
margin-top:0px;
/* align to left side of container */
align-items: stretch;
/* space items evenly  */
justify-content: space-evenly;
/* keep nav position in place while scrolling */
position: fixed;
padding: 0 20px 20px 20px;
/* stylize with dropshadow */
background-color: #ffffff;
box-shadow: 10px 15px 30px #d4d4d4;

}

/* all nav items */ 
a,
.pageLink,
.workPage {
    /* stylize text */
    text-decoration: none;
    color: #2a2a2a;
    font-size: 16px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
}

/* interaction with links */
a:hover, a:active{
    font-weight: 600;
}


/* indent and shrink art-specific pages */
#indent{
    font-size: .9rem;
    color: #FFCC00;
}

/* center logo */
.logo{
align-self: center;
width: 50%

}


/* ---------- I M A G E   C H A N G E R ---------- */

.pictureContainer {
    /* background-color: brown; */
    display: flex;
    /* centers image */
    justify-content:center;
    /* fill to size of container */
    width: 100vw;  
}

#peeky{
    width: 400px;
    align-self: center;
}

/* ----- B I O ----- */

#bio{
    /* for clarity */
    /* background-color: chocolate; */
    /* make text responsive */
    max-width: 600px;
    /* styling */
    padding: 20px;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family:'Raleway', sans-serif;
    line-height: 2rem;
    text-align: left;
}

/* Hello, I'm Jackie */
p.hello::first-line{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
}


footer{
    /* background-color: coral; */
    text-align: center;
    padding: 5px 5px 5px 0px;
    margin: 130px auto 0 auto;
    font-family:'Raleway', sans-serif;
}