

html, body { 
  width: 100%; 
  height: 100%;

  /* parallax background */
  background-attachment: fixed;
  background-repeat: no-repeat;
}


/* <----------------> HOME PAGE <----------------> */

/*burger menu*/

label.burger {
/* background-color: #470144; */
position: absolute;
  width: 80px;
  height: 70px;
  /* display: block; */
  margin-top:10px;
  margin-left:0px;
  /* changes mouse appearance */
  cursor:pointer;
}


label.burger input {
  display: none;
}

nav {

  position: fixed;
  top: -100%;
  background: #470144;
 opacity: .8;
  width: 100%;
  height: 100%;
  transition: top .5s cubic-bezier(0.910, 0.005, 0.170, 1.005);
  ;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input:checked + nav {
  top:0;
}

nav a {
  display: block;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  padding: 20px;
  margin: 10px;
  min-width: 200px;
  font-family: 'Open Sans', sans-serif;
}


.menuicon, .menuicon:before, .menuicon:after{
/* burger line width */
  width:60px;
  height:5px;
  background:#fff;
  border-radius:2px;
  margin-left: 10px;
  margin-top: 10px;

}

.menuicon:before{
  content:"";
  display:block;
  position:absolute;
  margin-top:20px;
  margin-left:0;
}

.menuicon:after{
  content:"";
  display:block;
  position:absolute;
  margin-top:40px;
  margin-left:0;
}

.switch {
    top: 0;
    position: absolute;
}

/* ---------- end burger ---------- */


.logo{
    /* background-color: #852390; */
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

/* My name text */
.opener{
   text-align:center;
    color: #fafafa;
    font-size: 6vw;
    margin: 0 auto;
    padding: 0px;
    font-family: 'Dancing Script', cursive;

}

div.logo img{
    width: 100px;
    }

/* My name div */
.homehead{
    /* background-color: dodgerblue; */
    width: 50%;
    max-width: 800px;
    height:160px;
    padding: 10px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px; 
}


hr{
    width:50%;
    
}

.bar{
    /* background-color: aquamarine; */
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    word-spacing: 60px;
    font-family: 'Open Sans', sans-serif;
}

 .bar a{
        text-decoration: none;
        font-size: 14px;
        color: #fafafa;
    }
.bar a:hover{
        color:#8b0285;
    }
.bar a:active{
        color:#080f16;
    }




/* <----------------> BIO PAGE <---------------->*/

/* Quotes at the top of the page */
h2{
    font-family: 'Dancing Script', cursive;
    color: #fafafa;
    font-size: 40px;
    text-align: center;
    margin-top:50px;
    margin-bottom: 50px;
}

/* div with picture and bio */
#bio{
    /* background-color: #fafafae5; */
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 40px;
    color: #1b1b1b;
}

/* center image */
#bio img{
    display: block;
    margin: 0 auto;
}

#text{
   padding:10px;
    margin: 0 auto;
    width: 50%;
    color: #fafafa
}
#contact{

    padding:10px;
     margin: 0 auto;
     width: 100%;
     color: #fafafa;
     font-size: 14px;
    font-family: 'Lato', sans-serif;
    line-height: 40px;
}
/* <----------------> ART PAGE <---------------->*/


/* --------------- media queries --------------- */

/* PHONE */
@media (min-width:320px){
    /* display burger */
    .switch{
        visibility: visible;
    }
    /* hide main nav */
    .bar{
        visibility: hidden;
    }
    /* adjust name size */
    .opener{
        font-size: 12vw;
        border:none;
    }
     /* hide decorative line */
    hr{
        visibility: hidden;
    }
    #text{
        padding:10px;
         margin: 0 auto;
         width: 100%;
     }
}

/* slightly larger phone */
@media (min-width:460px){
    /* increase name size */
    .opener{
        font-size: 9vw;
        border:none;
    }
    #text{
        padding:10px;
         margin: 0 auto;
         width: 80%;
     }
}

/* TABLET */
@media (min-width:640px){
    /* hide burger */
    .switch{
        visibility: hidden;
    }
    /* show main nav */
    .bar{
        visibility: visible;
    } 
    /* larger name display */
    .opener{
        font-size:7vw;
    }
    /* show decorative line */
    hr{
        visibility: visible;
    } 
    #text{
        padding:10px;
         margin: 0 auto;
         width: 60%;
     }
}

/* DESKTOP */
@media (min-width:960px){
    /* larger name */
    .opener{
        font-size: 6vw;
    }
}


