/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/

#wrapper {
    /* centers container in viewport */
    margin: 0 auto;
    width: 90vw;
    max-width: 1200px; 
    /* fills space available in flex container  */
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

/* center header & footer text */
header, footer{
    display:flex;
    justify-content: center;
}

.menuitem1, .menuitem2{
    background-color: #ffffff;
    margin:0px;
    border-top:1px solid;
    border-top-color: #b5e7a0;
}

/* styling sub-list items */
.submenu1, .submenu2{
    list-style-type: none;
    margin:0px;
    padding:0px;
    display: none;  
}

/* styling sub list items */
li{
    padding-left: .25rem;
    background-color: #bababa;
}


/* ----- M O B I L E -----  */
@media only screen and (max-width: 600px){


}
